/* src/components/EditorToolbar.css */
.toolbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #424c56;
  border-bottom: 1px solid #34495e;
  padding: 8px;
}

.toolbar button {
  background: none;
  border: none;
  padding: 8px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.toolbar button.active {
  background-color: #34495e;
  border-radius: 100%;
}

.toolbar button:hover {
  background-color: #34495e;
  border-radius: 4px;
}

.toolbar button:focus {
  outline: none;
}
